body{
    font-family: 'Roboto Slab', sans-serif;
    background-color: #FFFFFF;
    margin: 0 5%;
}

.big-content-container{
    display: block;
    margin-top: 7rem;
    text-align: center;
}

.big-content-container img{
    float: left;
    width: 33em;
    margin: 0 9rem 0 0;
}

.big-container-heading{
    display: block;
}

.big-word{
    text-align: left;
    margin-bottom: 1rem;
    word-spacing: 25px;
    font-size: 2.5rem;
}

.big-sentence{
    display: inline;
    text-align: left;
    line-height: 2rem;
    font-size: 1.2rem;
    word-spacing: 8px;
}

.big-container-heading button{
    display: block;
    margin-top: 2rem;
    font-family: 'Roboto Slab', sans-serif;
    background-color: black;
    color: #FFFFFF;
    border: none;
    padding: 1.5rem 2rem;
}

.footer-container{
    display: block;
    bottom: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 20rem;
}

@media screen and (max-width: 600px) {
    .big-content-container img{
        float: clear;
        text-align: center;
        margin: 0 0 3rem 0;
        width: 100%;
    }

    .big-word{
        float: clear;
        display: block;
        text-align: left;
        word-spacing: 5px;
    }

    .big-sentence{
        float: clear;
        text-align: left;
    }

}

@media screen and (max-width: 768px) {
    .big-content-container img{
        float: clear;
        margin: 0 0 3rem 0;
    }

    .big-sentence{
        float: left;
        text-align: left;
    }
}